Username:
<div id="username">
</div>

<script type="text/javascript">
  localStorage.setItem('username', 'Jerry');
  document.getElementById('username').innerHTML = localStorage.getItem('username');
</script>
